.section {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: end;
    height: 120vh;
    display: block;
    justify-content: center;
    color: #fff;

}

.section:nth-child(odd) {
    background: rgb(255, 247, 228);
    color:rgb(255, 247, 228);
    color:rgb(159, 119, 25);
}

.section:nth-child(even) {
    color: brown;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #d16b47e6;
}

.carousel-item{
    height: 900px;
}

.topic {

    text-decoration: none;
    text-align: center;
    display: block;
    color:black
}

.forcontent{
    padding: 20px;
    font-size: 20px;
}

.flexbox {
    box-sizing: content-box;
    float : right;
    padding: 10px;


}

.flexbox2 {
    box-sizing: border-box;
    padding: 10px;
    display:flex;
   
}

.item {
    display: flex;
    box-sizing: content-box;
    text-decoration: none;
}



.flexbox1 {
    display: flex;
    box-sizing: border-box;
    float : inline-start;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
}

#div {
    width: 800px;
    height: 900px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    border-radius: 8px;
    margin: 50px;
    padding: 40px;
    background-color: rgb(168, 108, 68);
    overflow: hidden;
    color: #fff;
    font-size: 20px;

  }
body{
    direction: ltr;
    margin: 4.5rem 0 0 0;
    color: black;
}
#img1{
    width: 175px;
    position: absolute;
    bottom: -1100px;
    right: 16px;
  }
.navbar {
    border-bottom: 6px solid #c46800!important;
    font-size: 1rem;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.item2 {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px;
    width:33.33%;
    padding:10px;
}

.content2 {
    background-color: rgb(255, 229, 172)ack;
    padding: 16px;
    text-align: center;
}
