.navbar {
    border-bottom: 6px solid #c46800!important;
    font-size: 1rem;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


body{
    direction: ltr;
    margin: 4.5rem 0 0 0;
    color: black;
}
.section {
    width: 100%;
    height: 75vh;
    display: block;
    justify-content: start;
    color: #fff;
    
}

.section:nth-child(odd) {
    background: rgb(255, 247, 228);
    color:rgb(159, 119, 25);
}

.section:nth-child(even) {
    background: rgb(255, 229, 172);
    color:rgb(224, 135, 19);
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(150, 98, 64);
    text-decoration: none;
    text-transform: capitalize;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #d16b47e6;
}

.nav-link{
    color: brown;
    
}
 
.topic {
    padding : 15px;
    text-decoration: none;
    text-align: center;
    display: block;
    color:black
}

.forcontent{
    padding: 20px;
    font-size: 20px;
}

.flexbox {
    box-sizing: content-box;
    float : right;
    padding: 10px;
   
}

.item {
    display: flex;
    box-sizing: content-box;
    text-decoration: none;
}

.content {
    background-color: rgb(255, 231, 110);
    border: 2px solid black;
    padding: 16px;
}

.flexbox1 {
    display: flex;
    box-sizing: border-box;
    float : inline-start;
    padding: 10px;
    flex-direction: row;
}

.item1 {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px;
    width:100%;
}

.content1 {
    background-color: rgb(255, 231, 110);
    border: 2px solid black;
    padding: 16px;
    border-radius:30px;
    box-shadow: 4px 2px 8px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
    font-size: 23px;
}

.flexbox2 {
    box-sizing: border-box;
    padding: 10px;
    display:flex;
   
}

.item2 {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px;
    width:33.33%;
    padding:10px;
}

.content2 {
    background-color: rgb(255, 229, 172)ack;
    padding: 16px;
    text-align: center;
}